html, body {
  margin: 0;
  padding: 0;
}
html, body {
  height: auto;
  overflow-y: auto;
}
@font-face {
  font-family: "ExpoArabicBook";
  src: url("/fonts/Expo-Arabic-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ExpoArabicLight";
  src: url("/fonts/Expo-Arabic-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "ExpoArabicSemiBold";
  src: url("/fonts/Expo-Arabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "ExpoArabicMedium";
  src: url("/fonts/Expo-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
}
body {
  font-family: 'ExpoArabicBook', 'Cairo', sans-serif;
  min-height: 100vh;
  overflow-y: auto;
}

html, body {
  height: auto;
  overflow-y: auto; /* أو scroll */
}
.login-box{
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  max-width: 550px;
}
.label0{
  text-align: right;
  color: #002F6C;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.loginButton{
  background-color: #002F6C;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
}
.forgetpass{
  font-size: 13px;
  color: #002F6C;
  text-decoration: none;
  margin-top: 15px;
}
.forgetpass:hover{
  color: #003366;
}
::placeholder{
  font-size: 13px;
  color: rgb(159, 158, 158);
}
.tit0{
  text-align: center;
  color: #002F6C;
  font-weight: bold;
  font-size:28px;
}
.tit1{
  text-align: center;
  color: #4a5568;
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}
.mainLogin {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url('/images/backimg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

.mainLogin::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 41, 73, 0.7); 
  z-index: 0; 
}
.login-box,
.col-md-6 img {
  position: relative;
  z-index: 1;
}
.loginButton {
  background-color: #003366;
  border-color: #003366;
  font-weight: 600;
   transition: all 0.3s ease;
   font-size: 18px;
}
.loginButton:hover {
  background-color: #002F6C; 
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.footerText {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777;
  font-size: 13px;
}
.navbarMain{
  margin-top: 0;
  padding-top: 0;
  height: 10vh;
}
.userImg{
  box-shadow: 2px rgba(0,0,0,0.2);
  margin-right: 15px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.userImg:hover{
  transform: translateY(-2px);
}
.icons{
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
  justify-content: center !important;
  transition: all 0.3s ease;
  width: 18px;
  height: 18px;
  fill: #002F6C;
  color: red;
}
.icons:hover{
  color: grey;
  transform: translateY(-2px);
}
 .topbar-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
 }
.addEmployee{
  padding: 5px 12px;
  border-radius: 15px;
  color: white;
  background-color: #002F6C;
  transition: all 0.3 ease;
  margin-right: -20px;
  font-size: 14px;
}
.addEmployee:hover{
  transform: translateY(-2px);
}
.main-layout {
  display: flex;
  min-height: 100vh;
}
/* السايدبار */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #0a1a2f, #102a43, #1c3d5a);
  color: #fff;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1000;
}

/* عند الإغلاق */
.sidebar.closed {
  width: 0;
  overflow: hidden;
}

/* المحتوى */
.content {
  margin-right: 250px;
  flex-grow: 1;
  min-height: 100vh;
  background-color: #f8f9fa;
  transition: margin-right 0.3s ease;
}
.content.full {
  margin-right: 0;
}
.toggleBtn {
  border: none;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
}
.ulMain{
  text-align: right;
  color: white;
  font-size: 14px;
  list-style: none;
  margin-top: 3px;
  font-weight: lighter;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-right: -25px !important;
  margin-bottom: -3px !important;
  /* margin-right: -50%; */
}
.ulAuth{
  text-align: right;
  margin-top: 7px;
  margin-right: -10px;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.ulAuth li {
  padding: 5px 0;
  font-size: 13px;
  cursor: pointer;
  color: rgb(201, 200, 200);
}


.ulAuth {
  list-style: none;
  padding-right: 1px;
}
.arrow {
  font-size: 7px;
  padding-left: 5px;
  opacity: 0.7;
}
.LabelSide{
  text-align: right;
  margin-right: 0px;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.ti.contleOfSide{
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: grey;
}
.nav-link {
  text-decoration: none;
}
.navbar{
  background-color: light !important;
}

.nav-link:hover {
  text-decoration: none;
}
.nav-link.active {
  font-weight: bold;
}
.ulAuth li a {
  text-decoration: none;
  color: rgb(201, 200, 200);
}

.ulAuth li a.active {
  color: palevioletred;
  text-decoration: underline
}
.headerOfCard{
  text-align: center;
  color: #003366;
  font-size: 16px !important;
}
.cardEmp{
  height: 100px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition:0.3 ease;
  border: none;
  text-align: right;
}
.cardEmp:hover{
 transform: translateY(-2px);
}
.cardHeader{
  color: white;
  font-weight: bold;
  background-color: #002F6C;
  font-size: 14px;
  text-align: right;
}
.cardValue{
  text-align: right !important;
}
/* .cardBody .blockquote{
  color: grey;
  font-weight: bolder;
  font-size: 14px;
  text-align: right;
} */
 .employeeName {
  text-align: right;
  margin-top: -30px;
  padding-top: 0;
  font-weight: bold;
  color: #003366;
  font-size: 18px;
 }
 .employeeRole{
  text-align: right;
  margin-top: 3px;
  font-weight: 100;
  color: grey;
  font-size: 16px;
 }
.form-label{
  color: rgb(72, 72, 72);
  font-size: 15px !important;
}
.form-select{
  font-size: 12px !important;
}